<div class="padded-content">
    <div class="form-group row settings-card" *ngIf="Settings != undefined && Settings != null">

        <div clas="row" style="display:flex; flex-direction:row; padding:10px;">
            <label for="ShowFooter" class="settings-label">Show Footer</label>
            <input
                class="form-check-input" 
                type="checkbox"
                id="Show_Footer"
                required
                [(ngModel)]="Settings.Show_Footer"
                (ngModelChange)="SaveSettings()"
                name="Show_Footer" />
        </div>

        <div clas="row" style="display:flex; flex-direction:row; padding:10px;">
            <label for="Show_Sidebar" class="settings-label">Show Sidebar</label>
            <input
                class="form-check-input" 
                type="checkbox"
                id="Show_Sidebar"
                required
                [(ngModel)]="Settings.Show_Sidebar"
                (ngModelChange)="SaveSettings()"
                name="Show_Sidebar" />
        </div>

        <div class="row" style="display:flex; flex-direction:row; padding:10px;">
            <div class="col-12">
            <button (click)="ResetSettings()" class="btn btn-md btn-danger" style="margin-left:50px;">Reset Settings</button>
            </div>
        </div>
    </div>
</div>